* {
  font-family: 'Nunito',
    sans-serif;
}

h1,
h2 {
  font-family: 'Roboto Slab',
    serif;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.days {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

/* .days>* {
 font-size: ;
} */
button {
  border: 2px solid black;

}

.days>button {
  width: 85px;
  height: 60px;
}

.add-entry {
  margin-top: 10px;
}

.add-entry>button {
  width: 150px;
  height: 2.5rem;
}

.schedule-table {
  width: 85%;
}

h2 {
  text-align: center;
}

table {
  border: 2px solid black;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-left: 2px solid black;
}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:first-child {
  background-color: grey;
  height: fit-content;
  text-align: left;
}

tr {
  height: 30px;
}
