body {
  height: 98vh;
}

* {
  font-family: 'Nunito',
    sans-serif;
}

h1,
h2 {
  font-family: 'Roboto Slab',
    serif;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.days {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

/* .days>* {
 font-size: ;
} */
button {
  border: 2px solid black;
  cursor: pointer;

}

.days>button {
  width: 85px;
  height: 60px;
}

.add-entry {
  margin-top: 10px;
}

.add-entry>button {
  width: 150px;
  height: 2.5rem;
}

.schedule-table {
  width: 85%;
}

h2 {
  text-align: center;
}

table {
  border: 2px solid black;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-left: 2px solid black;
}

tbody tr:nth-child(odd) td {
  background-color: lightgray;
}

tr:first-child {
  background-color: grey;
  text-align: left;
}

tr {
  height: 30px;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
  position: fixed;
  top: 20%;
  left: 20%;
  background-color: white;
  border: 2px solid black;
  width: 500px;
}

.modal-content {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.modal-container>h1 {
  margin: 5px 0;

}


form {
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dayTimeContainer {
  display: flex;
  justify-content: space-evenly;
}

select {
  width: 5rem;
  border: 2px solid black;
}

textarea {
  width: 100%;
  height: 100px;
  margin: 10px 0 40px;
  border: 2px solid black;
}
